[package]
name = "nixpacks"
version = "0.2.3"
edition = "2021"
license = "MIT"
authors = ["Railway <contact@railway.app>"]
description = "Generate an OCI compliant image based off app source"
readme = "README.md"
homepage = "https://github.com/railwayapp/nixpacks"
repository = "https://github.com/railwayapp/nixpacks"

[[bin]]
name = "nixpacks"
path = "src/main.rs"

[lib]
name = "nixpacks"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.58"
clap = { version = "3.2.8", features = ["derive"] }
colored = "2.0.0"
fs_extra = "1.2.0"
globset = "0.4.9"
walkdir = "2.3.2"
indoc = "1.0.6"
regex = "1.6.0"
serde = { version = "1.0.138", features = ["derive"] }
serde_json = "1.0.82"
serde_yaml = "0.8.24"
serde_with = "1.14.0"
tempdir = "0.3.7"
thiserror = "1.0.31"
toml = "0.5.9"
uuid = { version = "1.1.2", features = ["v4"] }
wait-timeout = "0.2.0"
base64 = "0.13.0"
console = "0.15.0"
box_drawing = "0.1.2"
textwrap = "0.15.0"
