[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
djangorestframework = "*"
pyyaml = "*"
requests = "*"
django-cors-headers = "*"
psycopg2 = "*"

[requires]
python_version = "3.11"
