on:
  push:
    branches:
      - main
    paths:
      - 'base/debian/*'
  pull_request:
    branches:
      - main
    paths:
      - 'base/debian/*'
  schedule:
    - cron:  '0 0 * * 2'
  workflow_dispatch:

name: Publish Docker Images

jobs:
  debian:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +%s)"
      
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: base/debian
          platforms: linux/arm64, linux/amd64, linux/386
          push: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
          tags: ghcr.io/railwayapp/nixpacks:debian, ghcr.io/railwayapp/nixpacks:latest, ghcr.io/railwayapp/nixpacks:debian-${{ steps.date.outputs.date }}
      
      - name: Bump base image
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
        run: |
          sed -i 's/nixpacks:debian-.*/nixpacks:debian-${{ steps.date.outputs.date }}";/g' src/nixpacks/images.rs
      
      - name: Create Pull Request
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
        uses: peter-evans/create-pull-request@v4
        with:
          base: main
          token: ${{ secrets.COMMITTER_TOKEN }}
          commit-message: Bump base image
          branch: debian-${{ steps.date.outputs.date }}
          delete-branch: true
          title: Bump base image to `debian-${{ steps.date.outputs.date }}`
