name: 'Close stale issues and PRs'

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          days-before-pr-stale: 10
          days-before-pr-close: 5
          days-before-issue-stale: -1 # Issues never go stale or close
          days-before-issue-close: -1
          stale-pr-label: 'stale'
          stale-pr-message: 'This pull request is stale because it has been open 10 days with no activity. Remove stale label or comment or this will be closed in 5 days'
          close-pr-message: 'This pull request was closed for lack of activity. Feel free to reopen later.'
          exempt-pr-labels: 'awaiting-approval,work-in-progress'
        env:
          ACTIONS_STEP_DEBUG: true
